<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Article Scraper</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Special+Elite"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link href="../../public/css/style.css" rel="stylesheet" />
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar">
    <div class="container">
      <div class="header-section">
        <div class="row">
          <div class="col-md-4">
            <div class="left_section">
              <span class="date">
                Sunday .
              </span>
              <span class="time">
                09 August . 2016
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="logo">
              <a href="/"><h1>Article Scraper</h1></a>
            </div>
          </div>
        </div>
      </div>

      <div class="navigation-section">
        <nav class="navbar m-menu navbar-default">
          <div class="container">
            <ul class="nav navbar-nav main-nav">
              <li class="active"><a href="">Home</a></li>
              <li><a href="">Saved articles</a></li>
              <li><a href="">Scrape new article</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <section id="category_section" class="category_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="feature_article_wrapper">
              <div class="feature_article_img">
                <img
                  class="img-responsive top_static_article_img"
                  src="../../public/img/feature-top.jpg"
                  alt="feature-top"
                />
              </div>

              <div class="feature_article_inner">
                <div class="feature_article_title">
                  <h1>
                    Uh Oh. Looks like we don't have any new articles.
                  </h1>
                </div>
                <div class="feature_article_content">
                  What Would You Like To Do?
                </div>
                <div class="article_social">
                  <span
                    ><i class="fas fa-search"></i
                    ><a href="#">Try Scraping New Articles</a></span
                  >
                  <span
                    ><i class="fas fa-bookmark"></i
                    ><a href="#">Go to Saved Articles</a></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="category_section mobile">
              <div class="article_title header_purple">
                <h2><a href="" target="_self">Articles</a></h2>
              </div>
              <div class="category_article_wrapper">
                <div class="row">
                  <div class="col-md-4">
                    <div class="top_article_img">
                      <a href="" target="_self"
                        ><img
                          class="img-responsive"
                          src="../../public/img/cat-mobi-left-1.jpg"
                          alt="feature-top"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <span class="tag purple">Mobile</span>

                    <div class="category_article_title">
                      <h2>
                        <a href="" target="_self"
                          >Airbnb launches photo-centric app for iPads and
                          Android tablets.
                        </a>
                      </h2>
                    </div>
                    <div class="category_article_date">
                      <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <div class="category_article_content">
                      Collaboratively administrate empowered markets via
                      plug-and-play networks. Dynamically procrastinate B2C
                      users after installed base benefits. Dramatically
                      visualize customer directed convergence without
                      revolutionary ROI.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer_section" class="footer_section">
      <div class="footer_bottom_Section">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="social">
                <p>
                  Ksenia Malysheva<a class="icons-sm fb-ic"
                    ><i class="fab fa-github"></i
                  ></a>
                </p>
              </div>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
              <p>UNC Coding Bootcamp</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
  </body>
</html>
